/*
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('./fonts/glyphicons-halflings-regular.eot');
    src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: 'CNN Sans Display Regular';
    src: url('./fonts/CNNSansDisplay-Regular.eot');
    src: url('./fonts/CNNSansDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/CNNSansDisplay-Regular.woff') format('woff'), url('./fonts/CNNSansDisplay-Regular.ttf') format('truetype'), url('./fonts/CNNSansDisplay-Regular.svg#CNNSansDisplay-Regular') format('svg');
}
*/

.smb-dispad_300x250_single {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 250px;
    font-family: CNN Sans Display Regular, Helvetica Neue, Arial, sans-serif;
    position: relative;
    z-index: 0;
    background-color: #fff;
    margin: auto;
    font-size: 16px;
    line-height: 20px
}

.smb-300x250-widget-cont {
    width: 300px;
}

.smb-300x250-header-suggest {
    height: 18px;
    text-align: center
}

.smb-300x250-header-suggest p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.4vw;
    letter-spacing: 2px;
    line-height: 23px
}

.smb-300x250-header {
    position: absolute;
    right: 2.5%;
    height: auto;
    width: auto;
    padding: 3px 0 10px;
    display: block;
    z-index: 1;
    visibility: hidden;
}

#smb-300x250-header-text {
    padding: 5px 0 9px !important;
    margin: 0 !important;
    color: #ffffff;
    font-size: 1.1em !important;
    line-height: 1.3em !important;
    text-align: center !important;
    display: block;
    letter-spacing: 1px;
    font-family: 'CNN Sans Display Regular' !important;
}

.smb-300x250-main-cont {
    margin: auto;
    width: 300px;
    height: 250px;
}

.smb-300x250-slideshow-cont {
    height: 250px;
    width: 300px;
    position: absolute;
    bottom: 0;
    display: none;
}

.smb-300x250-displayad-cont {
    position: absolute;
    margin: auto;
    top: 0;
}

.smb-300x250-item-cont {
    height: 250px;
    background: #f7f7f7
}

.smb-300x250-vidcont {
    background: #181818;
    width: 300px;
    height: 250px;
    /* display: none; */
}

.smb-300x250-loader {
    width: 42px;
    position: absolute;
    top: 52%;
    left: 45%
}

.smb-300x250-adcont-backdrop {
    position: absolute;
    width: 300px;
    height: 250px;
    /* background-color: #353535; */
    background-image: url('//saambaa.com/assets/image/sidestage-250.jpg');
    /* background: linear-gradient(-20deg, #F74D1A, #FD8038); */
    z-index: 2;
}

.smb-300x250-adcont-backdrop-logo {
    /*background-image: url('//saambaa.com/assets/image/smb-970-logo.png');*/
    width: 213px;
    height: 45px;
    background-size: 213px 45px;
    position: absolute;
    bottom: 50%;
    left: 15%;
    z-index: -1;
}

.smb-300x250-adcont-backdrop-text {
    color: white;
    position: absolute;
    top: 54%;
    left: 31%;
    z-index: -1;
    font-size: 19px;
    font-weight: 100;
}

.smb-loading-logo {
    /* background-image: url('//saambaa.com/assets/image/smb-loading-logo.png'); */
    width: 100%;
    height: auto;
    /* background-size: 150px 131px; */
    position: absolute;
    bottom: 47%;
    left: 12%;
    z-index: -1;
    /* -webkit-animation: pulse 4s infinite; */
}

.smb-loading-logo:before {
    content: "We Help You Discover Your City";
    color: white;
}

.smb-300x250-footer-cont {
    position: absolute;
    right: 0%;
    bottom: -4%;
    height: 30px;
    text-align: right !important;
    padding: 2px 0;
    visibility: hidden;
}

#smb-300x250-footer-text {
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: 'CNN Sans Display Regular';
    font-size: 14px;
    color: #f8f8f8;
    font-weight: normal !important;
}

.smb-300x250-powered-by {
    display: table-cell !important;
    vertical-align: middle !important;
    font-size: 14px !important;
    color: #bdbec3 !important;
    padding-right: 10px !important
}

.smb-300x250-powered-by img {
    vertical-align: top
}

.smb-300x250-item {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.smb-300x250-item a:visited {
    text-decoration: none;
}

.smb-300x250-item img {
    /* animation: kenBurns 18s infinite; */
    position: relative;
/*    left: -25%;
    width: 150%;*/
    height: auto
}

.smb-300x250-img-caption-clickmore {
    position: absolute;
    bottom: 2px;
    /* text-decoration: none; */
    left: 0;
    margin-right: 10px;
    margin-bottom: 0px !important;
    padding: 4px 10px 4px 10px;
    background: #fff;
    color: #000;
    font-size: .9em !important;
    line-height: 1em;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
    visibility: hidden;
    text-align: left;
    /*hide for ad story rollout */
    display: none;
}

.smb-300x250-img-caption-clickmore p {
    margin: 0;
    margin-bottom: 0px !important;
    font-family: 'CNN Sans Display Regular' !important;
    font-size: .9em !important;
    line-height: normal !important;
}

.smb-300x250-img-caption-cont {
    position: absolute;
    bottom: 30px;
    left: 0;
    margin-right: 15px;
    padding: 5px 25px 5px 10px;
    background: #fff;
    color: #000;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
    visibility: hidden;
    text-align: left;
    /*hide for ad story rollout */
    display: none;
}

.smb-300x250-img-caption {
    visibility: hidden
}

.smb-300x250-img-caption p {
    margin: 0;
    font-family: 'CNN Sans Display Regular' !important;
    font-weight: normal;
}

.smb-300x250-img-caption-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9em !important;
    line-height: 1.1em !important;
    max-height: 2.1em;
    color: #474747 !important;
    margin-bottom: 3px !important;
}

.smb-300x250-img-caption-detail {
    font-size: .8em !important;
    line-height: 1em !important;
    max-height: 3em;
    color: #7e8393 !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.smb-300x250-img-caption-detail span {
    color: #a3a3a3;
    font-style: italic;
    font-size: .7em;
    line-height: 1.5em;
    font-weight: normal;
    font-family: 'CNN Sans Display Regular';
}

.smb-300x250-markets {
    display: block;
    vertical-align: middle;
    padding: 0;
    margin: 0 30px;
}

.smb-300x250-markets select {
    margin: 0;
}

.smb-300x250-adcont {
    background: #000;
    height: 250px;
    display: none
}

.smb-300x250-adunit-cont {
    text-align: center
}

.custom-select {
    max-width: none;
    padding: 0 5px;
    visibility: hidden;
}

.custom-select:hover {
    border: none
}

.custom-select select {
    text-transform: uppercase;
    font-size: .9em;
    padding: 0 10px;
    line-height: 20px;
    /* height: 22px;*/
    /*hiding for ad story rollout. Still technically on the
    page so we don't have to change too much of the plumbing. */
    height: 0px;
}

.custom-select::after {
    font-family: "Glyphicons Halflings";
    color: #444855;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e252";
    margin-top: -9px;
    overflow: unset;
    right: 1em;
}

.custom-select select,
.custom-select select:focus {
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.custom-select select:focus {
    box-shadow: none
}

.fadeIn {
    animation-name: fadeIn;
}

.staticCaption {
    visibility: visible !important;
}


.smb-300x250-scroll-container {
    position: absolute;
    bottom: 40px;
    height: 55px;
    width: 30px;
    opacity: 0.5;
    z-index: 20;
}
 .smb-300x250-scroll-arrow {
    position: absolute;
    top: 14px;
    height: 25px;
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjI2MiwxNi43MTRsOS4wMDIsOC45OTkgIGMwLjM5NSwwLjM5NCwxLjAzNSwwLjM5NCwxLjQzMSwwYzAuMzk1LTAuMzk0LDAuMzk1LTEuMDM0LDAtMS40MjhMMTMuNDA3LDE2bDguMjg3LTguMjg1YzAuMzk1LTAuMzk0LDAuMzk1LTEuMDM0LDAtMS40MjkgIGMtMC4zOTUtMC4zOTQtMS4wMzYtMC4zOTQtMS40MzEsMGwtOS4wMDIsOC45OTlDMTAuODcyLDE1LjY3NSwxMC44NzIsMTYuMzI1LDExLjI2MiwxNi43MTR6IiBmaWxsPSIjMTIxMzEzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGlkPSJDaGV2cm9uX1JpZ2h0Ii8+PGcvPjxnLz48Zy8+PGcvPjxnLz48Zy8+PC9zdmc+);
    z-index: 20;
}
 #smb-300x250-scroll-left {
    left: 0;
    background-color: white;
    border-radius: 0px 18px 18px 0px;
}
 #smb-300x250-scroll-right {
    right: 0;
    background-color: white;
    border-radius: 18px 0px 0px 18px;
}
 #smb-300x250-arrow-left {
    left: 0;
}
 #smb-300x250-arrow-right {
    right: 0;
    transform: rotate(180deg);
}

/* Animations */

@keyframes fadeIn {
    from {
        transform: scale3d(0, 0, 0);
        opacity: 0;
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    visibility: visible !important;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible !important;
        ;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible !important;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
    -webkit-animation-name: slideInUp;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    visibility: visible !important;
}

@keyframes kenBurns {
    from {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(0, 12%, 0);
    }
    100% {
        transform: scale3d(1.9, 1.9, 1.9) translate3d(22%, 15%, 0);
    }
}

.kenBurns {
    animation-name: kenBurns;
    -webkit-animation-name: kenBurns;
}
